.flag-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.current-flag {
    width: 50px; /* Kích thước của cờ hiện tại */
    height: auto;
    transition: transform 0.3s ease;
}

.dropdown-content {
    display: none; /* Ẩn nội dung dropdown ban đầu */
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.dropdown-flag {
    width: 50px; /* Kích thước của cờ trong dropdown */
    height: auto;
    padding: 5px;
}

.flag-dropdown:hover .dropdown-content {
    display: block; /* Hiển thị nội dung dropdown khi hover */
}